exports.api = {
	user: '',
	salt: '',
	id: '00000000-0000-0000-0000-000000000000'
};

exports.icons = {
	icon: __dirname + '/www/assets/icon/IconTemplate.png',
	live: __dirname + '/www/assets/icon/IconTemplate_Red.png',
	premiere: __dirname + '/www/assets/icon/IconTemplate_Green.png'
};

exports.menubar = {
	icon: exports.icons.icon,
	transparent: true,
	index: 'file://' + __dirname + '/www/index.html',
	preloadWindow: true,
	'min-width': 350,
	'min-height': 200,
	'always-on-top': true
};

exports.stream = 'https://twitch.tv/rocketbeanstv';
