exports.api = {
	user: '',
	salt: '',
	id: '00000000-0000-0000-0000-000000000000'
};

exports.menubar = {
	'always-on-top': true,
	'index': 'file://' + __dirname + '/www/index.html'
};

exports.stream = 'https://twitch.tv/rocketbeanstv';
