exports.api = {
	key: '',
	secret: '',
	id: '00000000-0000-0000-0000-000000000000'
};

exports.icons = {
	icon: __dirname + '/www/assets/icon/BohnOffTemplate.png',
	live: __dirname + '/www/assets/icon/BohnOnTemplate.png',
	premiere: __dirname + '/www/assets/icon/BohnOnTemplate.png'
};

exports.menubar = {
	icon: exports.icons.icon,
	transparent: true,
	index: 'file://' + __dirname + '/www/index.html',
	preloadWindow: true,
	'min-width': 375,
	'min-height': 200,
	'always-on-top': true
};

exports.stream = 'https://twitch.tv/rocketbeanstv';
