// out: index.css, sourcemap: true, compress: true

#main
	height 100%
	overflow-y scroll
	padding-bottom 44px

.list
	&, li
		color #fff
		border-color rgba(0, 0, 0, .15)
		background #444444

.tabs
	.tab-item
		color #fff
