// out: index.css, sourcemap: true, compress: true

pin-size = 20px
border-radius = 5px
color-red = #e63124
color-green = #40c41e
border-color = #999
content-padding = 10px

*
	margin 0
	padding 0
	font-weight lighter

html, body, .popover
	height 100%
	width 100%
	overflow hidden

html, body
	padding-top (pin-size / 2) - 3px

body
	cursor default
	line-height 150%
	font-size .85em
	font-family 'Droid Sans', sans-serif
	-webkit-user-select none

img
	max-width 100%

.popover
	width calc(100% - 2px)
	height "calc(100% - %s)" % (pin-size - 3px)
	border-radius border-radius
	background white
	border 1px solid border-color

	&::before
		content ''
		border 1px solid border-color
		border-bottom none
		border-right none
		border-top-left-radius border-radius
		position absolute
		margin-top -(pin-size / 2) - 1
		margin-left "calc(50% - %s)" % (pin-size / 2)
		transform  rotate(45deg)
		width pin-size
		height pin-size
		background linear-gradient(to bottom right, #f2f2f2 51%, transparent 51%)

#main
	height calc(100% - 40px)
	overflow-y scroll

	p
		padding content-padding

ul
	li
		list-style none

.loading-item
	font-size 500%
	text-align center
	cursor pointer
	height calc(100% - 20px)
	display flex
	align-items center
	justify-content center

	i
		animation rotate 1s infinite

.buttons
	float right
	padding content-padding 0

	li
		display inline

	a
		color inherit
		font-size 130%
		padding content-padding

		&:hover
			color color-red
			cursor pointer

.item
	clear both
	padding content-padding
	//border-left 2px solid transparent

	&.item-divider
		padding 0
		font-weight bold
		background #f2f2f2
		border 1px solid #ccc
		border-left none
		border-right none

		h1
			font-size 100%
			font-weight bold
			padding content-padding
			display inline-block

	&.item-divider:first-of-type
		border-top: none

	&.live .icon
		color color-red

	&.premiere .icon
		color color-green

	&[data-id]:hover
		background rgba(0, 0, 0, .05)

	&:hover, &:nth-of-type(2)
		.item-desc small, .item-note small
			height 14px
			opacity 1

	.item-desc small, .item-note small
		height 0
		opacity 0
		display block
		overflow hidden
		transition all .1s

	.item-note
		float right
		opacity .75
		font-size 90%
		text-align right

	.item-reload
		padding 20px 0
		font-size 180%
		text-align center

@keyframes rotate
	from
		transform rotate(0deg)

	to
		transform rotate(180deg)
